* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #18181b;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  font-size: x-large;
}
