body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: #18181b;
}

.trailer {
  position: fixed;
  height: 24rem;
  aspect-ratio: 1;
  background: linear-gradient(to right, #a855f7, #f59e0b);
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  transform-origin: center;
  pointer-events: none;
  z-index: -10;
  filter: blur(100px);
  animation: rotate 10s infinite;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
