body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #18181b;
}

.trailer {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
}

.trailer-outline {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
}
