body {
  background-color: #18181b;
}

.shiny-button {
  position: relative;
  padding: 0.5rem 1.5rem;
  position: relative;
  border: none;
  border-radius: 8px;
  background: radial-gradient(
      circle at 50% 0%,
      rgba(250, 250, 250, 0.05) 0%,
      transparent 60%
    ),
    rgba(15, 15, 15, 1);
  cursor: pointer;
  overflow: hidden;
}

.button-content {
  position: relative;
  color: #f5f5f5;
  font-weight: 300;
  letter-spacing: 0.025em;
  height: 100%;
  width: 100%;
  display: block;
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.shiny-overlay {
  position: absolute;
  inset: 0px;
  padding: 1px;
  border-radius: 8px;
  display: block;
  background-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.1) calc(var(--x) + 20%),
    rgba(255, 255, 255, 0.5) calc(var(--x) + 25%),
    rgba(255, 255, 255, 0.1) calc(var(--x) + 100%)
  );
  mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
  mask-composite: exclude;
  pointer-events: none;
}
