body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: #18181b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hacker-text {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  cursor: pointer;
  color: #fff;
}
