:root {
  --background: light-dark(
    oklch(100% 0.00011 271.152),
    oklch(18.22% 0.00002 271.152)
  );
  --foreground: light-dark(
    oklch(18.22% 0.00002 271.152),
    oklch(98.511% 0.00011 271.152)
  );
}

html {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  padding: 4rem 1.25rem;
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

p {
  font-size: clamp(1rem, 1.15vw + 0.8rem, 1.25rem);
  line-height: 1.45;
  margin-block: 1rem;
}

/* These are the important classes, you can tweak above styles as per you need */

[data-mask] {
  display: block;
  overflow: hidden;
}

[data-line] {
  display: block;
  will-change: transform;
}
