* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  padding: 4rem 1.25rem;
  background-color: #18181b;
  color: #fff;
  font-family: "Inter", sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

p {
  font-size: clamp(1rem, 1.15vw + 0.8rem, 1.25rem);
  line-height: 1.45;
  margin-block: 1rem;
}

/* These are the important classes, you can tweak above styles as per you need */

[data-mask] {
  display: block;
  overflow: hidden;
}

[data-line] {
  display: block;
  will-change: transform;
}
