* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Inter", sans-serif;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

p {
  font-weight: 500;
  font-size: 1.25rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-info {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 2;
}
