* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #18181b;
}

#notch-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#notch-nav-trigger {
  all: unset;
  position: absolute;
  top: 0;

  width: 12rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #b3eb14;
  color: #171717;

  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#notch-nav-trigger::before {
  content: "";
  position: absolute;
  top: 0;
  left: -14px;

  width: 30px;
  height: 15.5px;

  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-image: radial-gradient(
    circle at 0 100%,
    transparent 14px,
    #b3eb14 15px
  );
}

#notch-nav-trigger::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;

  width: 30px;
  height: 15px;

  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-image: radial-gradient(
    circle at 100% 100%,
    transparent 15px,
    #b3eb14 15px
  );
}

#notch-nav-trigger svg {
  width: 23px;
  height: 23px;
}

#notch-nav-trigger .line {
  stroke: #171717;
  stroke-width: 1.5;
  stroke-linecap: round;
}

#notch-nav-trigger:focus-visible {
  outline: 2px solid #171717;
  outline-offset: 4px;
}

#notch-nav-content {
  position: absolute;
  top: 0;

  width: 24rem;
  padding: 2rem 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  background-color: #b3eb14;
  border-radius: 2rem;

  transform: translateY(-100%);
}

#notch-nav-item {
  position: relative;
  height: 2rem;
  padding: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;

  color: #171717;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;

  border-bottom: 1px solid #171717;

  opacity: 0;
  transform: translateY(20px);

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.item-label {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;

  transition: transform 0.25s ease-out;
}

.item-label.secondary {
  transform: translateY(100%);
  font-style: italic;
  font-weight: 500;
}

#notch-nav-item:hover .primary {
  transform: translateY(-100%);
}

#notch-nav-item:hover .secondary {
  transform: translateY(0);
}
