:root {
  --background: light-dark(
    oklch(100% 0.00011 271.152),
    oklch(18.22% 0.00002 271.152)
  );
  --foreground: light-dark(
    oklch(18.22% 0.00002 271.152),
    oklch(98.511% 0.00011 271.152)
  );
}

html {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  font-size: x-large;
}
