@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --background: light-dark(
    oklch(100% 0.00011 271.152),
    oklch(18.22% 0.00002 271.152)
  );
  --foreground: light-dark(
    oklch(18.22% 0.00002 271.152),
    oklch(98.511% 0.00011 271.152)
  );
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hacker-text {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  cursor: pointer;
  color: var(--foreground);
}
