:root {
  --background: light-dark(
    oklch(100% 0.00011 271.152),
    oklch(18.22% 0.00002 271.152)
  );
  --foreground: light-dark(
    oklch(18.22% 0.00002 271.152),
    oklch(98.511% 0.00011 271.152)
  );
}

html {
  color-scheme: light dark;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
}

.spacer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.reveal-text {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  max-width: 64rem;
}
