* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  background-color: #18181b;
  color: #fff;
  font-family: "Inter", sans-serif;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

span {
  font-size: 2rem;
  font-weight: 500;
}

/* Mandatory styles */

.letter-swap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.letter-wrapper {
  position: relative;
  display: inline-flex;
  white-space: pre;
}

.letter-primary {
  position: relative;
}

.letter-secondary {
  position: absolute;
}
