* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: sans-serif;
  position: relative;
}

#parallax-container {
  width: 100%;
  height: 200vh;
  position: relative;
}

.section1 {
  position: sticky;
  top: 0;
  background-color: #404040;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.section2 {
  background-color: #ef4444;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
