@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-bg-pan: bg-pan 3s linear infinite;

  @keyframes bg-pan {
    from {
      background-position: 0% 50%;
    }
    to {
      background-position: -200% 50%;
    }
  }
}

/* @utility text-balance {
  text-wrap: balance;
} */

@utility container-wrapper {
  @apply mx-auto w-full min-[1800px]:max-w-[1536px];
}

@utility container {
  @apply mx-auto max-w-[1536px] px-4 xl:px-6 2xl:px-4;
}

@utility step {
  counter-increment: step;

  &:before {
    @apply bg-muted border-background absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 text-center -indent-px font-mono text-base font-medium;
    @apply mt-[-4px] ml-[-50px];
    content: counter(step);
  }
}

@utility extend-touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:-inset-2;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer base {
  :root {
    --background: oklch(100% 0.00011 271.152);
    --foreground: oklch(18.22% 0.00002 271.152);
    --card: oklch(100% 0.00011 271.152);
    --card-foreground: oklch(18.22% 0.00002 271.152);
    --popover: oklch(100% 0.00011 271.152);
    --popover-foreground: oklch(18.22% 0.00002 271.152);
    --primary: oklch(20.463% 0.00002 271.152);
    --primary-foreground: oklch(98.511% 0.00011 271.152);
    --secondary: oklch(97.015% 0.00011 271.152);
    --secondary-foreground: oklch(20.463% 0.00002 271.152);
    --muted: oklch(97.015% 0.00011 271.152);
    --muted-foreground: oklch(55.553% 0.00006 271.152);
    --accent: oklch(97.015% 0.00011 271.152);
    --accent-foreground: oklch(20.463% 0.00002 271.152);
    --destructive: oklch(63.681% 0.20784 25.315);
    --destructive-foreground: oklch(98.511% 0.00011 271.152);
    --border: oklch(92.191% 0.0001 271.152);
    --input: oklch(92.191% 0.0001 271.152);
    --ring: oklch(18.22% 0.00002 271.152);
    --chart-1: oklch(67.671% 0.15715 35.076);
    --chart-2: oklch(63.075% 0.10093 183.889);
    --chart-3: oklch(37.899% 0.04379 226.199);
    --chart-4: oklch(83.297% 0.11844 88.35);
    --chart-5: oklch(78.425% 0.12556 58.98);
    --radius: 0.5rem;
  }
  .dark {
    --background: oklch(18.22% 0.00002 271.152);
    --foreground: oklch(98.511% 0.00011 271.152);
    --card: oklch(18.22% 0.00002 271.152);
    --card-foreground: oklch(98.511% 0.00011 271.152);
    --popover: oklch(18.22% 0.00002 271.152);
    --popover-foreground: oklch(98.511% 0.00011 271.152);
    --primary: oklch(98.511% 0.00011 271.152);
    --primary-foreground: oklch(20.463% 0.00002 271.152);
    --secondary: oklch(26.862% 0.00003 271.152);
    --secondary-foreground: oklch(98.511% 0.00011 271.152);
    --muted: oklch(26.862% 0.00003 271.152);
    --muted-foreground: oklch(71.547% 0.00008 271.152);
    --accent: oklch(26.862% 0.00003 271.152);
    --accent-foreground: oklch(98.511% 0.00011 271.152);
    --destructive: oklch(39.583% 0.13307 25.707);
    --destructive-foreground: oklch(98.511% 0.00011 271.152);
    --border: oklch(26.862% 0.00003 271.152);
    --input: oklch(26.862% 0.00003 271.152);
    --ring: oklch(86.995% 0.0001 271.152);
    --chart-1: oklch(52.985% 0.19323 262.065);
    --chart-2: oklch(69.943% 0.13388 165.493);
    --chart-3: oklch(72.266% 0.15015 60.57);
    --chart-4: oklch(61.93% 0.20303 312.732);
    --chart-5: oklch(61.173% 0.20932 6.119);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.radial-gradient {
  background:
    radial-gradient(
      circle at 50% 0%,
      rgba(250, 250, 250, 0.05) 0%,
      transparent 60%
    ),
    rgba(15, 15, 15, 1);
}

.linear-mask {
  mask-image: linear-gradient(
    -75deg,
    white calc(var(--x) + 20%),
    transparent calc(var(--x) + 30%),
    white calc(var(--x) + 100%)
  );
}

.linear-overlay {
  background-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.1) calc(var(--x) + 20%),
    rgba(255, 255, 255, 0.5) calc(var(--x) + 25%),
    rgba(255, 255, 255, 0.1) calc(var(--x) + 100%)
  );

  mask:
    linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  mask-composite: exclude;
}

/* MDX Styles */
[data-theme="light"] {
  display: block;
}

[data-theme="dark"] {
  display: none;
}

.dark [data-theme="light"] {
  display: none;
}

.dark [data-theme="dark"] {
  display: block;
}

[data-rehype-pretty-code-fragment] {
  @apply relative text-white;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full rounded-none border-0 bg-transparent p-0 wrap-break-word;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply inline-block min-h-4 w-full px-4 py-0.5;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
  @apply px-2;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  @apply text-xs text-zinc-50/40;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply bg-zinc-700/50;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  @apply relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  @apply rounded-md border-zinc-700/70 bg-zinc-700/50 p-1;
}

.dark [data-rehype-pretty-code-fragment] .word--highlighted {
  @apply bg-zinc-900;
}

[data-rehype-pretty-code-title] {
  @apply text-foreground mt-2 px-4 pt-6 text-sm font-medium;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-2;
}

.mdx > .steps:first-child > h3:first-child {
  @apply mt-0;
}

.steps > h3 {
  @apply mt-8 mb-4 text-base font-semibold;
}
